/* styles.module.css */

body {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}


.header {
  background-color: #333;
  color: #fff;
  padding: 1rem 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 1rem;
}

.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}
.size-logo {
  width: auto;
}
.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-right: 1rem;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ff5733; /* Change the color on hover */
}


.footer {
  background-color: #333;
  color: #fff;
  padding: 2rem 0;
}



.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-logo a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.footer-links ul,
.footer-social ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-links li,
.footer-social li {
  margin: 0.5rem 0;
}

.footer-links a,
.footer-social a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.footer-links a:hover,
.footer-social a:hover {
  color: #ff5733; /* Change the color on hover */
}

.footer-bottom {
  text-align: center;
  margin-top: 1rem;
}
